{% load menu_tags %}
<div class="footer_container">
    <!-- info section -->
    <section class="info_section ">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3 ">
                    <div class="info_detail">
                        <h4>
                            {{ site_name }}
                        </h4>
                        <p>
                            Necessary, making this the first true generator on the Internet. It uses a dictionary of
                            over 200 Latin words, combined with a handful
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-2 mx-auto">
                    <div class="info_link_box">
                        <h4>
                            Links
                        </h4>
                        {% show_footer_menu %}
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 ">
                    <h4>
                        Subscribe
                    </h4>
                    <form action="#">
                        <input type="text" placeholder="Enter email" />
                        <button type="submit" class="btn-custom">
                            Subscribe
                        </button>
                    </form>
                </div>
                <div class="col-md-6 col-lg-3 mb-0 ml-auto">
                    <div class="info_contact">
                        <h4>
                            Address
                        </h4>
                        <div class="contact_link_box">
                            {% if address %}
                            <a href="">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <span>
                                    {{ address }}
                                </span>
                            </a>
                            {% endif %}
                            {% if phone1 %}
                            <a href="tel:{{ phone1 }}">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <span>
                                    {{ phone1 }}
                                </span>
                            </a>
                            {% endif %}
                            {% if phone2 %}
                            <a href="tel:{{ phone2 }}">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <span>
                                    {{ phone2 }}
                                </span>
                            </a>
                            {% endif %}
                            {% if phone1 %}
                            <a href="">
                                <i class="mail:{{ mail }}" aria-hidden="true"></i>
                                <span>
                                    {{ mail }}
                                </span>
                            </a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="info_social">
                        {% if facebook %}
                        <a href="{{ facebook }}">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                        {% endif %}
                        {% if twitter %}
                        <a href="{{ twitter }}">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                        {% endif %}
                        {% if instagram %}
                        <a href="{{ instagram }}">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                        {% endif %}
                        {% if linkedin %}
                        <a href="{{ linkedin }}">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </a>
                        {% endif %}
                        {% if linkedin %}
                        <a href="{{ youtube }}">
                            <i class="fa fa-youtube" aria-hidden="true"></i>
                        </a>
                        {% endif %}
                        {% if linkedin %}
                        <a href="{{ vk }}">
                            <i class="fa fa-vk" aria-hidden="true"></i>
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- end info section -->

    <!-- footer section -->
    <footer class="footer_section">
        <div class="container">
            <p>
                &copy; <span id="displayYear"></span> All Rights Reserved By
                <a href="/">{{ site_name }}</a>
            </p>
        </div>
    </footer>
    <!-- footer section -->
</div>